footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(0, 0, 0);
}

footer pre{
    margin-top: 10px;
    color: white;
}

.inLine {
    display: inline-flex;
}

#copyRight {
    margin: 0 20%;
}

