header{
    text-align: center;
    margin-top: 150px;
    color: rgb(255, 255, 255);
}

figure{
    height: 400px;
    float: right;
    width: 500px;
}

img{
    height: 400px;
    width: 400px;
}

p{
    color: white;
    margin-left: 100px;
    font-size: 23px;
}