#aboutheader{
    text-align: center;
    margin-top: 50px;
    color: rgb(255, 255, 255);
}

#aboutfigure{
    height: 400px;
    float: right;
    width: 500px;
}

#aboutimg{
    height: 400px;
    width: 300px;
}

#aboutp{
    color: white;
    margin-left: 100px;
    font-size: 30px;
    background-color: rgb(0, 0, 0, 0.4);
    display: flex;
}

#wrapper{
    background-image: url("../../assets/background-2.jpg");
}